.headline {
  display: flex;
  align-items: center;
  margin: 10px 0;
  button {
    margin-left: 15px;
  }
}

.page-title {
  margin-top: 15px;
}

mat-form-field {
  width: 100%;
}

.student-btn {
  margin: 5px;
}
