<div class="header container">
  <h1 class="page-title">{{isNewStudent ? 'Add Student' : 'View Student'}}</h1>
  <div class="headline">
    <button mat-button class="mat-elevation-z0" color="primary" routerLink="/students">
      <mat-icon color=>chevron_left</mat-icon>
      <span class="btn-text-aligned-with-icon">Back</span>
    </button>

  </div>
</div>

<div class="container">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-6 img-col">
      <div class="img-container">
        <img [src]="imgPath" alt="Profile Picture">
        <input hidden type="file" #imgUpload (change)="uploadImg($event)">
        <button *ngIf="!isNewStudent" mat-raised-button color="primary" (click)="imgUpload.click()"> Change Image
        </button>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <form #studentDetailsForm="ngForm">
        <div class="row">
          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input required type="text" matInput [(ngModel)]="student.firstName" name="firstName">
              <mat-error>First Name is a required field!</mat-error>
            </mat-form-field>
          </div>

          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input required type="text" matInput [(ngModel)]="student.lastName" name="lastName">
              <mat-error>Last Name is a required field!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input required type="text" matInput [(ngModel)]="student.email" name="email">
              <mat-error>Please use a valid email address!</mat-error>
            </mat-form-field>
          </div>

          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input required type="number" matInput [(ngModel)]="student.mobile" name="mobile">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input required matInput [matDatepicker]="picker" [(ngModel)]="student.dateOfBirth" name="dateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>Please choose a date!</mat-error>
            </mat-form-field>
          </div>

          <div class="col-xs-6 ">
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <mat-select required [(ngModel)]="student.genderId" name="gender">
                <mat-option *ngFor="let gender of genderList" [value]="gender.id">
                  {{gender.description}}
                </mat-option>
              </mat-select>
              <mat-error>Please choose your gender!</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 ">
            <mat-form-field appearance="outline">
              <mat-label>Postal Address</mat-label>
              <input required matInput [(ngModel)]="student.address.postalAddress" name="postalAddress">
              <mat-error>Please type a valid address!</mat-error>
            </mat-form-field>
          </div>

          <div class="col-xs-12 ">
            <mat-form-field appearance="outline">
              <mat-label>Physical Address</mat-label>
              <input required matInput [(ngModel)]="student.address.physicalAddress" name="physicalAddress">
              <mat-error>Please type a valid address!</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12" *ngIf="!isNewStudent">
            <button class="student-btn" (click)="onUpdateStudent()" mat-raised-button color="primary">
              <mat-icon>assignment</mat-icon>
              <span class="btn-text-aligned-with-icon">Update</span>
            </button>
            <button class="student-btn" (click)="onDeleteStudent()" mat-raised-button color="warn">
              <mat-icon>delete</mat-icon>
              <span class="btn-text-aligned-with-icon">Remove</span>
            </button>
          </div>
          <div class="col-xs-12" *ngIf="isNewStudent">
            <button class="student-btn" (click)="onCreateStudent()" mat-raised-button color="primary">
              <mat-icon>add</mat-icon>
              <span class="btn-text-aligned-with-icon">Add</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
